html {
    background: #e6e9e9;
    background-image: -webkit-gradient(linear, right top, left top, from(rgb(230, 233, 233)), to(rgb(216, 221, 221)));
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}


.h1, h1 {
    font-size: 200%;
}
a {
    color: #0083e8;
}

b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}


img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
   /* border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.yamap {
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
}
p {
    /*margin-top: 1rem;
    margin-bottom: 2rem;*/
    /*font-size: 2rem;*/
    line-height: 1.4;
    font-weight: 300;

}

.bulletItems p {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.page-footer {
    background-color: #28a745;
    color: #f4f4f4;
    margin-bottom: 0 !important;
    margin-top: 3rem;
    position: absolute;
    width: 100%;
}
.page-footer a{
    color:#dee2e6;
}
.page-footer h6{
    color:#dee2e6;
}
.page-footer p{
    margin-bottom:0.7rem;
}

.contactFormSlider {
    margin: 0 auto;
}

#clients {

}

.screen {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.navbar-brand {
    padding-top: 1.5rem;
}

.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #28a745;
    border: 2px solid #28a745;
    color: #f4f4f4;
    font-weight: 100;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: initial;
    border-radius: .25rem;background-color: #28a745
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-size: 14px;    margin-top: 4rem;
    font-weight: 400;    text-align: center;
}
.btnSettings {
    text-align: center; width: 100%;
    padding:4vw;
}


    .btnContent {
    padding-top: 2rem;
        padding-left: 0;
 
        }

.card{
border: 0px;
}
.bulletsBlock {
    text-align: center;
}

.pt-10 {
    font-size: 10pt;
}

.nopad {
    border: 1px #000 solid;
}











































@media screen and (max-width:770px) {

    .license {
        position: relative;
        height: auto;    min-height: 100vh;
    }

    .card-text p {
        font-size: 12px !important;
        color:red;
        font-weight: 600;
    }

    p {
        margin-top: -1rem;
        line-height: 1.4;
    }
    .page-footer p {
        margin-bottom: 0.7rem;
    line-height: 3;
    }
}



.card-text {
    font-size: 13px;
    text-align: center;
}

.ContactFormContainer {
    margin: 0 auto;    font-size: initial;
}

.footer-copyright {
    background: #28a745;
    color: #f4f4f4;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wrap-input100 {
    padding: 10px;
}

.wave {
  animation: wave 2s linear;
  animation-iteration-count:infinite;
  fill: #28a745;
}

#wave2 {
  animation-duration:15s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 17s;
  opacity:.3;
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
.footerContact {
    background: #28a745;
}

.text-center {
    text-align: center;
}

footer p {
    font-size: 14px !important;
}