html {
    background: #e6e9e9;
    background-image: -webkit-gradient(linear, right top, left top, from(rgb(230, 233, 233)), to(rgb(216, 221, 221)));
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

/*
.h1,
h1 {
    font-size: 200%;
    font-size: 3em;
}
*/


h1,
h2 {
    font-size: xx-large;
}

a {
    color: #4caf50;
    font-weight: 600;
}
a:hover{
    color:#1e7e34;
    text-decoration: none;
}

b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}

.navbar-toggler{
    font-size: 2rem;
    border: 0;
}
img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /* border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.yamap {
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

p {
    /*margin-top: 1rem;
    margin-bottom: 2rem;*/
    /*font-size: 2rem;*/
    line-height: 1.4;
    font-weight: 300;

}

.bulletItems p {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.page-footer {
    background-color: #4caf50;
    color: #f4f4f4;
    margin-bottom: 0 !important;
    margin-top: 3rem;
    position: absolute;
    width: 100%;
}

.page-footer a {
    color: #dee2e6;
}

.page-footer h6 {
    color: #dee2e6;
}

.page-footer p {
    margin-bottom: 0.7rem;
}

.contactFormSlider {
    margin: 0 auto;
}

#clients {}

.screen {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

/*
.navbar-brand {
    padding-top: 1.5rem;
}*/

.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #4caf50;
    border: 2px solid #4caf50;
    /* background: #4CAF50;*/
    color: #f4f4f4;
    font-weight: 100;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: initial;
    border-radius: .25rem;
    background-color: #4caf50 transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-size: 14px;
    margin-top: 4rem;
    font-weight: 400;
    text-align: center;
}

.btnSettings {
    text-align: center;
    width: 100%;
    padding: 4vw;
}


.btnContent {
    padding-top: 2rem;
    padding-left: 0;

}

.card {
    border: 0px;
}

.bulletsBlock {
    text-align: center;
}

.pt-10 {
    font-size: 10pt;
}

.nopad {
    border: 1px #000 solid;
}

.card-text {
    font-size: 13px;
    text-align: center;
}

.ContactFormContainer {
    margin: 0 auto;
    font-size: initial;
}

.footer-copyright {
    background: #4caf50;
    color: #f4f4f4;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wrap-input100 {
    padding: 10px;
}

.wave {
    animation: wave 2s linear;
    animation-iteration-count: infinite;
    fill: #4caf50;
}

#wave2 {
    animation-duration: 15s;
    animation-direction: reverse;
    opacity: .6
}

#wave3 {
    animation-duration: 17s;
    opacity: .3;
}

.footerIcon {
    padding-left: 0px;
    margin: 5px;
    opacity: 0.8;
}

sup,
sub {
    color: red;
}

p {
    text-indent: 0px;
}

.bulletItemTitle {
    margin-top: revert;
    font-weight: 100;
}





/*
.marketing h2 {
    font-weight: 400;
    font-size: 3em;
}*/


@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}

.footerContact {
    background: #4caf50;
}

.text-center {
    text-align: center;
}

footer p {
    font-size: 14px !important;
}

.text-md-vertecal {
    margin-top: -10rem;
    padding-bottom: 3rem;
}

@media screen and (max-width:770px) {

    .license {
        position: relative;
        height: auto;
        min-height: 100vh;
    }

    .card-text p {
        font-size: 12px !important;
        font-weight: 600;
    }

    p {
        margin-top: -1rem;
        line-height: 1.4;
    }

    .page-footer p {
        margin-bottom: 0.7rem;
        line-height: 2;
        font-size: 18px !important;
    }

    .text-md-vertecal {
        margin-top: 6rem;
        padding-bottom: 3rem;
    }

    .page-footer h6 {

        font-size: 1.5rem;
       /* font-weight: 400 !important;*/
    }

    .btn-center {
        text-align: center;
        padding: 20px;
    }
}

.leader {
    font-size: 25px;
    font-weight: 300;
}

.LogoLink {
    font-size: 200%;width: 100%;
}


/***********************************/
/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/


.buttoner a {
    text-transform: none;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
    box-shadow: inset 12em 0 0 0 #f4f4f4;
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

.offset:hover,
.offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
    --color: #a972cb;
    --hover: #cb72aa;
}

.pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
}

.close {
    --color: #ff7f82;
    --hover: #ffdc7f;
}

.raise {
    --color: #ffa260;
    --hover: #e5ff60;
}

.up {
    --color: #e4cb58;
    --hover: #94e458;
}

.slide {
    --color: #4caf50;
    --hover: #4caf50;
    border-radius: 4px;
}

.offset {
    --color: #19bc8b;
    --hover: #1973bc;
}

.buttoner {
    color: var(--color);
    -webkit-transition: 0.55s;
    transition: 0.55s;

}

.buttoner:hover,
.buttoner:focus {
  /*  border-color: none;*/
    color: #4caf50;
    background: none;
 /*   text-transform: none;*/
    text-decoration: none;
}

.buttoner {
    background: var(--color);
    border: 2px solid #4caf50;
    font: inherit;
    line-height: 1;
  /*  margin: 0.5em;  */
    padding: 0.5em 1em;
    line-height: 4;
    color:#f4f4f4;
}

code {
    color: #e4cb58;
    font: inherit;
}
.nav-item {
    font-size: 1rem;
}
